{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<header>RegiWiki</header>
<ul>
    <li><a href="/feed"><i class="fa fa-home" aria-hidden="true"></i>Ana Sehife</a></li>
    <li><a href="/regions"><i class="fas fa-mountain"></i>Regionlar</a></li>
    <li><a href="/areas"><i class="fas fa-city"></i>Rayonlar</a></li>
    <li><a href="{% url 'areas:addcomment' %}"><i class="fas fa-plus"></i>Yeni Yazi</a></li>
    <li><a href="{% url 'user:profile' %}"><i class="fas fa-user-circle"></i>Profil</a></li>
    <li><a href="{% url 'user:register' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
    <li><a href="{% url 'user:login' %}"><i class="fas fa-sign-in-alt"></i>Login</a></li>
    <li><a href="{% url 'user:logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    <li style="color: white;">{{request.user.username}}</li>
</ul>
