{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="sidebar">
    <header>RegiWiki</header>
    <ul>
        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Ana Sehife</a></li>
        <li><a href="#"><i class="fas fa-mountain"></i>Regionlar</a></li>
        <li><a href="#"><i class="fas fa-city"></i>Rayonlar</a></li>
        <li><a href="#"><i class="fas fa-user-circle"></i>Profil</a></li>
        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
        <li><a href="#"><i class="fas fa-sign-in-alt"></i>Login</a></li>
    </ul>
</div>
