body{
    background-color: #363a88;
}
.fields{
    background-color: #494eb8 ;
    color: white;

}

.fields:hover{
    background-color: #494eb8;
    color: white;

}

.fields:focus{
    background-color: #494eb8;
    color: white;
}

.requiredField{
    color: white;
}
.asteriskField{
    color: #E84D54;
}

.container{
    margin-top: 90px;
    background-color: #45488d;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 120px;
    padding-right: 120px;
}