.profile-photo{
    height: 200px;
    border-radius: 420px;
    width: 200px;
}

.profile_pic{
    display: inline-block;
    padding-left: 340px;

}

.stats{
    display: inline-block;
    font-size: 18px;
    color: white;
    margin-left: 20px;
    padding-top: 90px;
}

.stat-num{
    color: #E84D54;
}

body{
    background-color: #363a88;
}

section{
    background-color: #4f5292;
    padding-top: 5px;
    padding-bottom: 2px;
}

.username{
    text-align: center;
    font-size: 30px;
    color: white;
}

.container{
    background-color: #4f5292;
    padding: 16px;
    border-radius: 6px;
    color: white;
    margin-bottom: 15px;
}

.title{
    font-size: 22px;
    text-align: center;
}
.rayon{
    text-align: right;
    color: rgba(255, 255, 255, 0.603);
}

.buttons{
    text-align: right;
}


.comment-sekil{
    text-align: center;

}

.comment-sekil-child{
    height: 400px;
    width: 600px;
    border-radius: 4px;
}


.comment{
    float: left;
}