{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Muzakire{% endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static 'addconv.css' %}">

        <h4 style="text-align:center;">Muzakiereye Qatil</h4>
        <form method="post" action="">
            <div class="conv-form container">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Gonder" class="btn btn-danger btn-block">
            </div>
        </form>

        <hr>
        <h4 style="text-align:center;">Yazilanlar</h4>
        <div class="conversations">
            
            {% if convs %}
                {% for conv in convs %}
                <div class="conversation container">
                    <div class="conv-content"><p>{{conv.mezmun}}</p></div>
                    <span class="conv-author">{{conv.yazan}}</span>
                    <span class="conv-date">{{conv.created_date}}</span>
                    <br>
                    <hr>
                    {% if request.user == conv.yazan %}
                        <a href="{% url 'areas:del-conversation' conv.id %}" class="btn btn-danger">Sil</a>

                    {% else %}
                    {% endif %}
                </div>
                <hr>
                {% endfor %}
            
            {% else %}
                <div class="alert alert-info">Hec Bir Muzakire aparilmayib ilk yazan sen ol! :)</div>
            {% endif %}
{% endblock body %}